/* Color Name */
h1 {
	color: red;
}

/* rgb */
h2 {
	color: rgb(255,255,0);
}

/* 	Hex */

h3{
	color: #00FF;
}

.box-1 {
	background-color: blanchedalmond;
	border:  3px solid red;
	padding: 10px;
}

.box-2 {
	background-color: blanchedalmond;
	border:  3px solid red;
	padding: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.box-3{
	/* background-image: url(./images/bgColor.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover; */
	padding: 10px;
	color: #fff;
	width: 300px;
	height: 600px;
	background: url(./images/bgColor.jpg) no-repeat center center/cover;
}

.box-4{
	background: url(./images/bgColor.jpg) no-repeat center center;
	background-attachment: fixed;
}

/* CSS Reset */
* {
	margin: 0;
	padding: 0;
}